
# ---- ZDROJOVE PROSTREDIE ----
#
VERSION="1.21.0"
MC_COMP_VERSION="1.1.0"
#
#
GLOBAL_ISIS_SVN="../../../"
GLOBAL_COMMON_SVN="../../../../../Common.devel/trunk" #bude treba pre deploy TaskApp a mc-components
PATH_TO_EJB_FILES="$GLOBAL_ISIS_SVN"
SHARED_JAR_FOLDER="/home/andreus/removeMe/jar" # TODO, toto musi pockat na implementaciu konfiguracneho uploadu zdiel. kniznic


# ----- CIELOVE PROSTREDIE ----
# was
WAS_HOST="viralwas"
WAS_HOST_USER="root"
WAS_PROFILE="Custom01"
WAS_CELL="wasdevelCell01"
WAS_NODE="wasdevelNode01"
WAS_SERVER="wasdevelServer01"
WAS_USER="was"
WAS_PASS="was"
WAS_CLUSTER=""
WAS_REMOTE_TMP_DIR="/tmp/"
WAS_SERVER_DIR="/opt/IBM/WebSphere/AppServer"
WAS_BIN_DIR="$WAS_SERVER_DIR/profiles/$WAS_PROFILE/bin/"

# portal
PORTAL_HOST="portdevel.microcomp.sk"
PORTAL_HOST_USER="root"
PORTAL_USER="was"
PORTAL_PASS="was"
PORTAL_CELL="portdevel"
PORTAL_SERVER_DIR="/opt/IBM/WebSphere/PortalServer"
WPS_ADMIN_URL="http://$PORTAL_HOST:10039/wps/config"

# EJB config
LOCAL_EJB_URL="mc-was8:9813:cell/nodes/mc-was8Node01/servers/ISIS01-01/"
REMOTE_EJB_URL_PORTAL="mc-was8:9813:cell/nodes/mc-was8Node01/servers/ISIS01-01/"
REMOTE_EJB_URL_WAS="mc-was8:9813:cell/nodes/mc-was8Node01/servers/ISIS01-01/"
