GLOBAL_VERSION="1.20.0"

GLOBAL_WAS_HOST="wasdevel.microcomp.sk"
GLOBAL_WAS_HOST_USER="root"
GLOBAL_WAS_PROFILE="Custom01"
GLOBAL_WAS_CELL="wasdevelCell01"
GLOBAL_WAS_NODE="wasdevelNode01"
GLOBAL_WAS_SERVER="wasdevelServer01"
GLOBAL_WAS_USER="was"
GLOBAL_WAS_PASS="was"
GLOBAL_WAS_CLUSTER=""
GLOBAL_WAS_REMOTE_TMP_DIR="/tmp/"
GLOBAL_WAS_SERVER_DIR="/opt/IBM/WebSphere/AppServer"
GLOBAL_WAS_BIN_DIR="$GLOBAL_WAS_SERVER_DIR/profiles/$GLOBAL_WAS_PROFILE/bin/"

GLOBAL_PORTAL_HOST="portdevel.microcomp.sk"
GLOBAL_PORTAL_HOST_USER="root"
GLOBAL_PORTAL_USER="was"
GLOBAL_PORTAL_PASS="was"
GLOBAL_PORTAL_SERVER_DIR="/opt/IBM/WebSphere/PortalServer"
GLOBAL_PORTAL_CELL="portdevel"

SHARED_JAR_FOLDER=""
PATH_TO_EJB_FILES="/home/andreus/svn/Isis.devel/trunk"
LOCAL_EJB_URL="mc-was8:9813:cell/nodes/mc-was8Node01/servers/ISIS01-01/"
REMOTE_EJB_URL_PORTAL="wasdevel:9813:cell/nodes/wasdevelNode01/servers/wasdevelServer01/"
REMOTE_EJB_URL_WAS="wasdevel:9813:cell/nodes/wasdevelNode01/servers/wasdevelServer01/"