GLOBAL_VERSION="1.20.0"

GLOBAL_WAS_HOST="wasdevel.microcomp.sk"
GLOBAL_WAS_HOST_USER="root"
GLOBAL_WAS_PROFILE="Custom01"
GLOBAL_WAS_CELL="wasdevelCell01"
GLOBAL_WAS_NODE="wasdevelNode01"
GLOBAL_WAS_SERVER="wasdevelServer01"
GLOBAL_WAS_USER="was"
GLOBAL_WAS_PASS="was"
GLOBAL_WAS_CLUSTER=""
GLOBAL_WAS_REMOTE_TMP_DIR="/tmp/"
GLOBAL_WAS_BIN_DIR="/opt/IBM/WebSphere/AppServer/profiles/$GLOBAL_WAS_PROFILE/bin/"

GLOBAL_PORTAL_HOST="portdevel.microcomp.sk"
GLOBAL_PORTAL_HOST_USER="root"
GLOBAL_PORTAL_USER="was"
GLOBAL_PORTAL_PASS="was"