#Konfiguracny subor pre odoslanie JAR suborov. Kazde JAR je v tvare: NAZOV_PREMENNEJ=(NAZOV_JAR CESTA_K_JAR SERVER_NA_ODOSLANIE CESTA_NA_SERVERI)
#Nazvy premennych sa NESMU opakovat, taktiez neoddelovat jednotlive casti pola tabmi ale JEDNOU medzerou

SHARED_EXT="$PORTAL_SERVER_DIR/shared/ext/"
LIB_EXT="$WAS_SERVER_DIR/lib/ext/"

ISIS_SEC=(IsisSecurityProject-$VERSION.jar $SHARED_JAR_FOLDER $PORTAL_HOST_USER@$PORTAL_HOST $SHARED_EXT)
IAM_BUSINESS=(IamBusinessServiceFacadeForCustomLoginProject-$VERSION.jar $SHARED_JAR_FOLDER $PORTAL_HOST_USER@$PORTAL_HOST $SHARED_EXT)
IAM_AUTH=(IamAuthCustomLoginModuleProject-$VERSION.jar $SHARED_JAR_FOLDER $PORTAL_HOST_USER@$PORTAL_HOST $PORTAL_SERVER_DIR/shared/app/)
COMMON_UTIL=(CommonUtilsProject-$VERSION.jar $SHARED_JAR_FOLDER $PORTAL_HOST_USER@$PORTAL_HOST $LIB_EXT)
EJB_CONFIG=(EjbConfigProject-$VERSION.jar $SHARED_JAR_FOLDER $PORTAL_HOST_USER@$PORTAL_HOST $LIB_EXT)
COMMON_UTIL_WAS=(CommonUtilsProject-$VERSION.jar $SHARED_JAR_FOLDER $WAS_HOST_USER@$WAS_HOST $LIB_EXT)
EJB_WAS=(EjbConfigProject-$VERSION.jar $SHARED_JAR_FOLDER $WAS_HOST_USER@$WAS_HOST $LIB_EXT)