
WAS_HOST="$GLOBAL_WAS_HOST"
WAS_HOST_USER="$GLOBAL_WAS_HOST_USER"
WAS_PROFILE="$GLOBAL_WAS_PROFILE"
WAS_CELL="$GLOBAL_WAS_CELL"
WAS_NODE="$GLOBAL_WAS_NODE"
WAS_SERVER="$GLOBAL_WAS_SERVER"
WAS_USER="$GLOBAL_WAS_USER"
WAS_PASS="$GLOBAL_WAS_PASS"
WAS_CLUSTER="$GLOBAL_WAS_CLUSTER"
WAS_REMOTE_TMP_DIR="$GLOBAL_WAS_REMOTE_TMP_DIR"
WAS_BIN_DIR="$GLOBAL_WAS_BIN_DIR"

APP_VERSION="$GLOBAL_VERSION"
APP_EAR="MetisEar.ear"
APP_PATH="/home/andreus/svn/Isis.devel/trunk/Metis/Ear/target"
APP_NAME="MetisEar"


APP_SERVICE_NAME_1="Metis Domain Service"
APP_SERVICE_MODULE_1="MetisCoreDaoImplProject-$APP_VERSION.jar"
APP_SERVICE_NAME_2="Metis Bussiness Service"
APP_SERVICE_MODULE_2="MetisBusinessServiceImplProject-$APP_VERSION.jar"

MODULES_TO_SERVER_NAMES=("$APP_SERVICE_NAME_1" "$APP_SERVICE_NAME_2")
MODULES_TO_SERVER_VALUES=("$APP_SERVICE_MODULE_1" "$APP_SERVICE_MODULE_2")