PORTAL_HOST="$GLOBAL_PORTAL_HOST"
PORTAL_HOST_USER="$GLOBAL_PORTAL_HOST_USER"
PORTAL_USER="$GLOBAL_PORTAL_USER"
PORTAL_PASS="$GLOBAL_PORTAL_PASS"
PORTAL_SERVER_DIR="$GLOBAL_PORTAL_SERVER_DIR"

APP_VERSION="$GLOBAL_VERSION"
APP_NAME="MetisGuiProject-$APP_VERSION.war"
APP_PATH="/home/andreus/svn/Isis.devel/trunk/Metis/Gui/target"

XMLACESSS_PATH="/root/scripts/ZBER/"
WPS_ADMIN_URL="http://$PORTAL_HOST:10039/wps/config"