
APP_VERSION="$VERSION"
APP_EAR="MetisEarProject-$APP_VERSION.ear"
APP_PATH="$ARTIFACT_SRC/ears"
APP_NAME="MetisEar"

MODULES_TO_SERVER_NAMES=("Metis Domain Service" "Metis Bussiness Service")
MODULES_TO_SERVER_VALUES=("MetisCoreDaoImplProject-$APP_VERSION.jar" "MetisBusinessServiceImplProject-$APP_VERSION.jar")

